/* Menu toggle */
button.menu-toggle {
   display: inline-block;
   z-index: 999;
   background-color: transparent;
   box-shadow: none;
   padding: 0px;
   position: relative;
   overflow: hidden;
   outline: none;
   border: none;
}

.burger {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 36px;
   height: 36px;
   cursor: pointer;
   position: relative;

   .burger__inner,
   .burger__inner::before,
   .burger__inner::after {
      background: $color-burger;
      width: 24px;
      height: 2px;
      position: absolute;
   }

   .burger__inner {
      display: block;
      top: 50%;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
   }

   .burger__inner::before,
   .burger__inner::after {
      content: "";
      display: block;
   }
   .burger__inner::before {
      top: -8px;
      -webkit-transition: top 0.2s 0.3s ease, opacity 0.2s ease;
      transition: top 0.2s 0.3s ease, opacity 0.2s ease;
   }
   .burger__inner::after {
      bottom: -8px;
      -webkit-transition: bottom 0.2s 0.3s ease, -webkit-transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom 0.2s 0.3s ease, -webkit-transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom 0.2s 0.3s ease, transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom 0.2s 0.3s ease, transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
   }
}


.toggled .burger {
   
   .burger__inner {
      transform: rotate(45deg);
      transition-delay: 0.4s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .burger__inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.4s ease, opacity 0.1s 0.2s ease;
   }
   
   .burger__inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.2s 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
   }
}
